<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>цветовой тотализатор</title>

	<style>@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');</style>

	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="demo.css">

</head>
<body>

	<section id=response style="display: block; background: {{pick}};">

		<div id=slide>
			<h3 class="align_top">Мы получили твой вариант самого модного цвета 2024 года</h3>
			<br/>

			<h3 id="picked" class="align_center">{{slice pick}}</h3>

			<button id=see_results>ответы других участников</button>
		</div>
	</section>

	<section id=results style="display: none;">

		{{#each all_picks}}
			<div class="sq" style="background:{{this.color_value}};" alt="{{this.color_name}}">

			</div>
		{{/each}}
	</section>

</body>

<script type="text/javascript">

	// data pass

	let pick = '{{pick}}'

	let picks_count=Number({{picks_count}})

	// helper functions

	const $ = str=>document.querySelectorAll(str) // str->array of el

	const $$ = str=>f=>Array.from($(str)).map(f)

	let id=s=>document.getElementById(s)


	// events

	const changeSection=name=>
		$$('section')(el=>
				el.style.display=el.id==name?'block':'none')

	addEventListener('click', e=>{
		if (e.target.id=='see_results') {changeSection('results')}
	})

	layout=e=>{

		id('slide').style.height=`${innerHeight}px`

		let quantity = Math.ceil(Math.sqrt(picks_count))

		let w=innerWidth/quantity
		let h=2+innerHeight/quantity

		$$('body')(el=>el.innerHTML+=`<style>.sq {width:${w}px !important; height:${h}px !important;}</style>`)

	}

	layout(null)

	addEventListener('resize',layout)

	// changeSection('results')

</script>

</html>